<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake Store</title>
    <link href="/css/output.css" rel="stylesheet">
    <style>
       @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Montserrat", sans-serif;
}
    </style>
</head>
<body>
    <h1 class="font-bold text-2xl my-5 text-center">FAKE STORE</h1>

    <div id="loading" class=" text-center "></div>

    <div class="max-w-screen-xl mx-auto my-5">
        <div class="grid grid-cols-4 gap-4" id="fake_store_products"></div>
    </div>


    <script>
        const fake_store_products = document.getElementById('fake_store_products');
        let output = '';
        document.getElementById('loading').innerHTML = 'Loading...';
        fetch('https://fakestoreapi.com/products')
            .then(res => res.json())
            .then(products => {
                document.getElementById('loading').innerHTML = '';
                products.forEach(product => {
                    output += `
                        <a href="/product/${product.id}" class="border border-[#e4e4e4] shadow-sm rounded">
                            <div class="p-4">
                                <img class="w-full h-30 object-contain" src="${product.image}" alt="" />
                            </div>
                            <div class="border-b border-[#e4e4e4]"></div>
                            <div class="p-4">
                                <div>${product.title}</div>
                                <div class="mt-4 font-bold">${product.price}</div>
                            </div>
                        </a>
                    `;
                });
                fake_store_products.innerHTML = output;
            })
    </script>
</body>
</html>