<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link href="/css/output.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 body {
     font-family: "Montserrat", sans-serif;
 }
     </style>
</head>
<body>

    <div class="max-w-screen-xl mx-auto my-5">
        <a href="/" class="inline-block mb-4 bg-black text-white font-medium py-2 px-4 rounded">Back</a>
        <div class="mb-4">
            <div id="product" class="font-bold text-2xl">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</div>
        </div>
        <div class="flex items-start gap-5">
            <div class="text-center">
                <img class="w-[300px]" id="image" src="" alt="" />
            </div>
            <div>
                <div class="flex">
                    <div class="font-bold mr-2">Price: </div>
                    <div id="price"></div>
                </div>
                <div class="flex">
                    <div class="font-bold mr-2">Category: </div>
                    <div id="category"></div>
                </div>
                <div>
                    <div class="font-bold">Description: </div>
                    <div id="description"></div>
                </div>
                <div class="flex">
                    <div class="font-bold mr-2">Rating: </div>
                    <div id="rating"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const id = window.location.pathname.split('/').pop();

        fetch(`https://fakestoreapi.com/products/${id}`)
            .then(res => res.json())
            .then(product => {
                document.getElementById('product').innerHTML = product.title;
                document.getElementById('price').innerHTML = product.price;
                document.getElementById('description').innerHTML = product.description;
                document.getElementById('image').src = product.image
                document.getElementById('category').innerHTML = product.category
                document.getElementById('rating').innerHTML = product.rating.rate

            })

        console.log(id)
    </script>
    
</body>
</html>